<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      data-th-fragment="header">
<head>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <!-- Custom styles -->
    <link href="../../css/blog.css" rel="stylesheet">
</head>
<body style="padding-top: 70px">


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
            <a class="e" href="/index">
                <img src="../../image/wiliwililogo.png">
            </a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">博客</a></li>
                <li><a href="#about">论坛</a></li>
                <li><a href="#contact">关于</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">huod</a></li>
                        <li><a href="#">Another action</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav Header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜博主文章">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/u/blogedit"><span class="glyphicon glyphicon-edit"></span> 写博客</a></li>
                <li shiro:user="" class="dropdown">
                    <a href="" style="padding-top: 10px;padding-bottom: 10px" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../image/avatar-defualt.jpg" class="blog-avatar-50-s">
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >我的博客</a></li>
                        <li><a href="#">消息</a></li>
                        <li><a href="#" >账号设置</a></li>
                        <li><a href="#">反馈</a></li>
                        <li><a href="#">帮助</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
                <li shiro:guest=""><a href="/login">登录</a></li>
                <li shiro:guest=""><a href="/register">注册</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>




<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>