<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>帐号注册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <link href="../../css/templatemo_style.css" rel="stylesheet" type="text/css">
    <link href="../../css/bootoast.css" rel="stylesheet">
</head>
<body class="templatemo-bg-gray">
<div class="container">
    <div class="col-md-12">
        <h1 class="margin-bottom-15">Wiliwili博客</h1>
        <form id="registerForm" class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30"
              role="form" action="" method="post">
            <h3>帐号注册</h3>
            <br>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input  type="text" class="form-control"
                                name="nick" id="nick" placeholder="输入昵称">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                        <input type="password" class="form-control"
                                name="password" id="password" placeholder="输入密码">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group margin-bottom-sm">
                        <div class="input-group-btn">
                        <button type="button" class="btn btn-default
                        dropdown-toggle" data-toggle="dropdown">中国大陆 (+86)
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">台湾地区 (+886)</a>
                            </li>
                            <li>
                                <a href="#">澳门特别行政区 (+853)</a>
                            </li>
                            <li>
                                <a href="#">香港特别行政区 (+852)</a>
                            </li>
                            <li>
                                <a href="#">其他</a>
                            </li>
                        </ul>
                    </div><!-- /btn-group -->
                        <input type="tel" class="form-control"
                                name="phone" id="phone" placeholder="输入手机号" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-5">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-shield fa-fw"></i></span>
                        <input id="tryCode" name="tryCode" type="text" class="form-control" style="padding-right: 12px;"  placeholder="输入验证码">
                    </div>
                </div>
                <div class="col-xs-3">
                    <input type="button" value="获取验证码" class="btn btn-info" onclick="getPhoneCode(this)">
                </div>
                <div class="col-md-4">
                    <a class="btn-text grey row-left" href="/register/email">用邮箱账号注册 >></a>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <label><input type="checkbox" checked>我同意 <a href="javascript:;" data-toggle="modal" data-target="#templatemo_modal">wiliwili博客协议</a> 条款</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="button" value="立即注册" onclick="toRegister()" class="btn btn-success pull-right">
                    <a class="btn-text grey" href="/login">已有账号？立即登录</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer-div"></div>
<footer class="login-footer">
    <p>Copyright © 2018-2019 | 赣ICP备18008140号-1</p>
</footer>
<!-- Modal -->
<div class="modal fade" id="templatemo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Wiliwili of Service</h4>
            </div>
            <div class="modal-body">
                <p>This form is provided by SAO that can be used for your websites. Cras mattis consectetur purus sit
                    amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta
                    ac consectetur ac, vestibulum at eros.</p>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue
                    laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Praesent
                    commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper
                    nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
                    dapibus ac facilisis in, egestas eget quam.</p>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel
                    scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                    auctor.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="../../js/phone.js"></script>
<script src="../../js/bootoast.js"></script>
</body>
</html>